---
import Head from "../layouts/Head.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<Head title="about - is-my.mom 🌟" />
<MainLayout>
  <div class="container flex flex-col items-center justify-center gap-11 px-4 py-16">
    <h1 class="text-5xl font-extrabold tracking-tight text-white sm:text-[5rem] text-center">about<span class="text-[hsl(190,100%,70%)]"> us 🌟</span>
    </h1>
    <div class="flex flex-row gap-8">
      <h3 class="text-medium font-small tracking-tight text-slate-400 sm:text-[25px] text-center max-w-2xl">
        <b>is-my.mom</b> is an image uploader that allows users to upload custom images, videos, GIFs, and audios using popular screenshot uploader programs like ShareX. The service provides a simple and user-friendly interface for uploading and sharing media online.
        <br><br>To upload media to <b>is-my.mom</b>, users can simply select the desired file and media type, and then receive a unique URL to share with others. With fast upload speeds and compatibility with popular screenshot uploader programs, such as ShareX, users can easily upload and share their media with others.
        <br><br>In addition to its ease of use, <b>is-my.mom</b> offers a range of useful features, including support for multiple file types, password protection for uploaded files, and the ability to delete files after a specified period.
        <br><br>Overall, <b>is-my.mom</b> is a reliable and convenient tool for anyone looking to upload and share their media online. Whether you're a content creator, social media user, or simply need to share a file quickly, <b>is-my.mom</b> it easy to upload and share your media with others.
        
        <br><br>Ready to try?
        <br><br><button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-8 py-3 text-center mr-2 mb-2">
          <a href="/">Go back to the main site</a></button>
      </h3>
    </div>
  </div>
</MainLayout>