---
import Head from "../layouts/Head.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<Head title="is-my.mom 🌟" />
<MainLayout>
  <div class="container flex flex-col items-center justify-center gap-11 px-4 py-16">
    <h1 class="text-5xl font-extrabold tracking-tight text-white sm:text-[5rem] text-center">is-my<span class="text-[hsl(190,100%,70%)]">.mom 🌟</span>
    </h1>
    <div class="flex flex-row gap-8">
      <h3 class="text-medium font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center italic max-w-2xl">
        We regret to inform you that this project has been temporarily stopped due to our backend experiencing problems that cannot be resolved quickly.

        <br><br>So all we can say now is, <a class="hover:text-lime-500">coming soon.</a>
        In the meantime, watch this video <a href="/discord" target="_blank" class="text-slate-400 underline underline-offset-4 hover:text-sky-400">here</a>, where we explain what this is.
        <br><br><button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-8 py-3 text-center mr-2 mb-2">
          <a href="/about">About us</a></button>
      </h3>
    </div>
  </div>
</MainLayout>